%p
  = f.label :name
  %br
  = f.text_field :name

%p
  = f.label :description
  %br
  = f.text_area :description, :rows => "10"

%p
  = f.label :address
  %br
  = f.text_field :address

%p
  = f.label :lat
  %br
  = f.text_field :lat

%p
  = f.label :long
  %br
  = f.text_field :long
