%p
  = f.label :name
  %br
  = f.text_field :name
  %br
  .subscript The name of the bar/restaurant

%p
  = f.label :description
  %br
  = f.text_area :description, :rows => "10"
  .subscript Short description. Why should I go here? What's cool about this bar?

%p
  = f.label :address
  %br
  = f.text_field :address
  %span.geocode= link_to "Search for address", "#"
  .subscript Street address of the bar/restaurant.
  
%p
  = f.label :lat
  %br
  = f.text_field :lat
  .subscript The latitude of the bar, used for the map on the main page. Use google maps to snag this.

%p
  = f.label :long
  %br
  = f.text_field :long
  .subscript The longitude of the bar, used for the map on the main page. Use google maps to snag this.

%p
  = f.label :url
  %br
  = f.text_field :url
  .subscript The website for the bar if it has one.

= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'

:javascript
  $(document).ready(function() {
    var geocodingLinks = $(".geocode a");
    geocodingLinks.click( function(event) {
    	$.get("#{geocode_path}", {address: $('#ale_house_address')[0].value}, function(data) {
    		$('#ale_house_lat')[0].value = data.lat;
    		$('#ale_house_long')[0].value = data.lng;
    		$('#ale_house_address')[0].value = data.address;
    	});
    });
  });