%ul.locations
  - houses.each do |house|    
    %li
      = link_to house.name, neighborhood_ale_house_path(@neighborhood, house), :class => 'ale_house', :id => "#{@neighborhood.id}_house_position_#{house.id}"
      %span.subscript
        - if @current_user
          = link_to 'Edit', edit_neighborhood_ale_house_path(@neighborhood, house)
          |
          = link_to 'Delete', neighborhood_ale_house_path(@neighborhood, house), :confirm=>"Delete the #{house.name()} ale house?", :method=>'delete'
      .subscript
        - if house.url.strip != ''
          = link_to 'Info', house.url
        - else
          = link_to 'Info', "http://google.com/search?q=#{house.name()} #{house.neighborhood_name()} baltimore", :class => 'website icon'
        |
        = link_to "recommended by", "http://twitter.com/#{house.created_by()}"
      :javascript
        ale_houses["#{@neighborhood.id}_house_position_#{house.id}"] = {position: new google.maps.LatLng("#{house.lat}", "#{house.long}"), description: "#{house.description}"};
  - if @current_user
    %li
      = link_to "+ New Ale House", new_neighborhood_ale_house_path(@neighborhood) 
