- if @current_user then
  .admin
    = link_to "New '#{@neighborhood.name}' ale house", new_neighborhood_ale_house_path(@neighborhood) 

%dl
  - houses.each_with_index do |house, index|
    %dt= link_to content_tag(:span, "##{index.next}") + house.name, neighborhood_ale_house_path(@neighborhood, house), :class => 'ale-house'
    %dd
     
      %p
        = h( house.description() )
      .toolbar
        - if house.url
          |
          = link_to 'Website', '', :class => 'website icon'
        - if house.created_by
          |
          Recommended by:
          = link_to "@#{house.created_by()}", "http://twitter.com/#{house.created_by()}"
        - if @current_user
          |
          = link_to 'Edit', edit_neighborhood_ale_house_path(@neighborhood, house)
          |
          = link_to 'Delete', neighborhood_ale_house_path(@neighborhood, house), :confirm=>"Delete the #{house.name()} ale house?", :method=>'delete' 

