%ul.locations
  - if houses.empty?
    %li Looks like the locals don't drink here!
  - else
    - houses.each do |house|    
      %li
        = link_to house.name, neighborhood_ale_house_path(@neighborhood, house), :class => 'ale_house', :id => "#{@neighborhood.id}-ale_house_#{house.id}"
        %span.subscript
          - if @current_user
            = link_to 'Edit', edit_neighborhood_ale_house_path(@neighborhood, house)
            |
            = link_to 'Delete', neighborhood_ale_house_path(@neighborhood, house), :confirm=>"Delete the #{house.name()} ale house?", :method=>'delete'
            |
            = link_to house.liked_by?(@current_user['screen_name']) ? "-1" : "+1", like_neighborhood_ale_house_path(@neighborhood, house)
        .subscript
          - if house.url.strip != ''
            = link_to 'Website', house.url, :target => "ale-house-#{house.id}"
          - else
            = link_to 'Info', "http://google.com/search?q=#{house.name()} #{house.neighborhood_name()} baltimore", :target => "ale-house-#{house.id}"
          |
          = link_to "via @#{house.created_by}", "http://twitter.com/#{house.created_by()}", :target => house.created_by
          - unless house.likes.empty?
            %br 
            Liked by
            = house.likes.map(&:created_by).map {|u| link_to(u, "http://twitter.com/#{u}", :target => u)}.to_sentence
        :javascript
          if(!ale_houses["#{@neighborhood.id}"]){ale_houses["#{@neighborhood.id}"] = {};}
          ale_houses["#{@neighborhood.id}"]["ale_house_#{house.id}"] = {position: new google.maps.LatLng("#{house.lat}", "#{house.long}"), description: "#{escape_javascript(house.description)}", created_by: #{house.created_by.inspect}};
  - if @current_user
    %li
      = link_to "+ New Ale House", new_neighborhood_ale_house_path(@neighborhood) 
