= content_for :nav do
  %ul
    %li= link_to "Editing #{@house.name}", "#"
    %li= link_to "Cancel", root_path

- form_for @house, :url => {:action => :update} do |f|
  = error_messages_for :house
  = render :partial => 'fields', :locals => {:f => f}
    
  %p
    = f.submit "Save"
