%h3= "Add a #{@house.neighborhood_name} bar"
- form_for @house, :url => {:action => :create} do |f|
  = error_messages_for :house
  = render :partial => 'fields', :locals => {:f => f}
    
  %p
    = f.submit "Save"