!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title B'more on Ales
    = stylesheet_link_tag 'jqtouch', :media => 'screen'
    = stylesheet_link_tag 'theme', :media => 'screen'
    = javascript_include_tag 'jquery.1.3.2.min.js'
    = javascript_include_tag 'jqtouch'
    :javascript
      var jQT = new $.jQTouch({
                statusBar: 'black'
            });
      $(function(){
        $('a[target="_blank"]').click(function() {
          if (confirm('This link opens in a new window.')) {
            return true;
          } else {
            $(this).removeClass('active');
            return false;
          }
        });
        
        // Orientation callback event
        $('body').bind('turn', function(e, data){
          $('#orient').html('Orientation: ' + data.orientation);
        });
      });

    = yield :head

  %body
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-378745-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    #jqt
      = yield
