!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title B'more on Ales
    
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    
    = yield :head
    
  %body
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-378745-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
          
    #pageContainer
      .wrap
        %a#logo{:href => "/"}
        #description
          = link_to "Bmore on Rails", "http://www.bmoreonrails.org"
          approved watering holes, from locals who know better than
          to drink somewhere lame.
          .quiet
            = link_to "Fork us on github", "http://www.github.com/nerded/ale_house", :class => "github icon", :style => "margin-right:1em;"
            = link_to "Follow us on Twitter", "http://www.twitter.com/bmoreonales", :class => "twitter icon"
        #nav
          = yield :nav
      #main-content
        = yield

  / Moved to bottom - JS blocks loading and maps server can be slow
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
  = javascript_include_tag 'jquery.geolocation.js'
  = javascript_include_tag 'application'
  %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
