!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title B'more on Ales
    
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    
    = yield :head
    
  %body
    #wrapper
      #header
        .wrap
          %a#logo{:href => "/"}
          #description
            = link_to "Bmore on Rails", "http://www.bmoreonrails.org"
            approved watering holes, from locals who know better than
            to drink somewhere lame.
          #nav
            = yield :nav
      #main-content.wrap
        = yield

    / Moved to bottom - JS blocks loading and maps server can be slow
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'application'
    %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
